*{
   margin: 0;
   padding: 0;
a{
  color: white;
  text-decoration: none;
}
}
body{
   background: linear-gradient(rgb(15, 6, 71), rgb(46, 2, 45));
   height: 100vh;
     height: 100vh;
  display: flex;
  justify-content: center;
align-items: center;
}

.container{
background-image:  url(stars1.png);;
   width: 90%;
height: 640px;
}

header{
   display: flex;
   justify-content: space-between;
   padding: 10px;
   font-family: Arial, Helvetica, sans-serif;
}

.logo{
   font-size: 30px;
   text-transform: uppercase;
}
.ul{
 width: 60%;
   list-style: none;
display: flex;
justify-content: space-evenly;
}
.ul a {
   border-bottom: 2px solid transparent;
}
.ul a:hover {
   border-bottom-color: white;
}
 .content{
  color: white;
   width: 50%;
 margin-top: 50px;
padding: 30px;
}
.content h2{
font-size: 100px;
text-transform: uppercase;
letter-spacing: 10px
}
.content p{
  padding: 20px 0px;
width: 400px;
font-family: Arial, Helvetica, sans-serif;
font-size: 20;
word-spacing: 10px;
display: inline-block;
}


.container li:hover{
   background-color: rgb(74, 8, 91);
padding:5px 10px;
border-radius: 20px;
transition: 0.5s;
}
.containers{
display: flex;
justify-content: flex-end;
box-shadow: 20px;
float: right;
margin-top: 20px;
box-shadow: 10px 10px  rgb(74, 8, 91);
}
 