*{
    margin: 0px;
    padding: 0px;
}
a{
    color: white;
    text-decoration: none;
  }
body{
    background: linear-gradient(rgb(15, 6, 71), rgb(46, 2, 45));
    
  display: flex;
  justify-content: center;
}
.container{
    background-image:  url(stars1.png);;
       width: 90%;
    height: 800px;
    }
    header{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
 margin: 25px;
 padding: 20px 0px;
       
}

    .logo{
        font-size: 30px;
        text-transform: uppercase;
    }
    .ul{
        width: 60%;
          list-style: none;
       display: flex;
       justify-content: space-evenly;
      
    }
       .ul a:hover {
        border-bottom-color: white;
    }
    .container .li:hover{
        background-color: rgb(74, 8, 91);
     padding:5px 10px;
     border-radius: 20px;
     transition: 0.5s;
    }
     .containers{
        display: flex;
     justify-content: center;
     float: left;
height: 400px;
width: 600px;
     margin-top: 20px;
     }
     .ul a .li:hover {
        border-bottom-color: rgb(242, 242, 242);
     }
     .list{
      color: white;
    direction: rtl;
    margin: 20px;
font-size: 20px;
}
.quiz-container {
    text-align: center;
    background-color: #240454;
    padding: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
}

.quizz {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    background-color: rgb(255, 255, 255);

}

a.quiz-link {
    text-decoration: none;
    padding: 15px 30px;
    background-color: #4CAF50;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    transition: all 0.3s ease;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
a.quiz-link:hover {
    background-color: #45a049;
    transform: translateY(-3px);
}
.ul :hover {
    border-bottom-color: white;
 }
 .links {
    color: #ffffff;
display: block;
    text-align: right;
}
.links:hover {
    color: rgb(171, 32, 95);
    text-decoration: underline;
}
  
  
  .links:active {
    color: blue;
    text-decoration: underline;
  }
